@import "variables";
/* /src/scss/_variables.scss */
@import "../../node_modules/bootstrap/scss/bootstrap";

.user-posts,
.user-post {

    a {
        text-decoration: none;
        color: var(--black);
    }

    .post {
        background-color: $gray-200;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;

        .user-info {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            a, .user-profile, .username {
                display: inline-block;
                padding: 2px;
                border-radius: 9px;
                transition: 0.2s;
            }

            a:hover {
                background-color: $lighter-theme;
            }

            .user-profile {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            .username {
                font-size: 16px;
                font-weight: bold;
            }
        }

        .post-content {
            p {
                font-size: 18px;
                margin-bottom: 0px;
            }

            img {
                border-radius: 5px;
                margin-bottom: 10px;
            }
        }

        .post-actions {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            a {
                color: $secondary;
            }
        }
    }

    .post:hover {
        background-color: $gray-300;
    }
}